/integracja/target/
rozwiazania/LAB06/integracja_klient/integracja_klient/bin/
rozwiazania/LAB06/integracja_klient/integracja_klient/obj/
rozwiazania/LAB06/integracja_klient/.vs/
rozwiazania/LAB06/integracja_klient_java/target/
/rozwiazania/Dodatkowe/WebService/Autobusy/target/